@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&family=Protest+Revolution&display=swap');
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 237, 235);
  height: 100vh;
}

.bs1 {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

h1{
  font-size: 30px;
  font-weight: bold;
}

.header{
  padding: 10px;
}

.content{
  min-height: 90vh;

}

.Hbike{
  height: 250px;
  margin-top: 50px;
  overflow: hidden;
}

.bikeContent{
  position: absolute;
  border-radius: 4px;
  text-align: left;
  bottom: 0;
  height: 40px;
  width: 320px;
  background: rgba(12, 12, 12, 0.8);
  color: white;
  padding: 10px;
  transition: .3s;
}

.cHid{
  visibility: hidden;
  opacity: 0;
}

.bikeimg{
  height: 300px;
  transition: .3s;
}

.Hbike:hover{
  cursor: pointer;
}

.Hbike:hover .bikeContent{
  height: 100px;
  background: rgba(12, 12, 12, 0.9);
}

.Hbike:hover .cHid{
  opacity: 1;
  visibility: visible;
}

.Hbike:hover .bikeimg{
  transform: scale(1.1) rotate(-3deg);
}

.bookLink{
  text-decoration: none;
}

.form{
  background-color: #dee0e6;
  
}

.addForm{
  background-color: #dee0e6;
  margin-top: 50px !important;
}

.fbtn{
  padding: 5px 25px;
}

.link{
  text-decoration: none;
  
}

.imggif{
  margin-top: 80px !important;
}

.logForm{
  margin-top: 50px !important;
}

@media (max-width:765px) {
  .form{
    margin-left: 80px !important ;
    margin-bottom:20px ;
  }
  
}

.a{
  text-decoration: none;
}

.bookImg{
  width: 90%;
  border-radius: 5px;
}

.bookDet{
  text-align: left;
  margin-left: 20px;
}

.bookInfo {
  background-color: rgb(238, 237, 235);
  padding-top: 20px;
  padding-bottom: 30px;
}

.date{
  background-color: rgb(224, 224, 222);
}

@media (max-width:767px) {
  .bookingPage{
    margin: 50px !important ;
  }
  /* .bookInfo{
    margin: 50px !important
  } */
}

.total{
  margin-top: 20px;
}

.pickupLoc{
  margin-top: 10px;
}

.rideBtn{
  height: 50px;
  border-radius: 0px 4px 4px 0px;
  
}

.date{
  font-weight:bold;
  text-align: center;
 
}

.stImg{
  height: 550px;
  background-position: center;
}

.editIcon{
  font-size: 30px;
  color: greenyellow;
  margin-left: 70px;
}

.deleteIcon{
  font-size: 30px;
  color: red;
  padding-left:20px ;
}

.addBike{
  margin-right: 25px;
}

.backBtn{
  margin-left: 25px;
}

.bookText{
  text-align: left;
}

.kickBike{
  /* font-family: 'Nunito Sans', sans-serif;
font-family: 'Protest Revolution', sans-serif; */
color: black;
}

.round-btn {display: inline;height: 40px; width: 40px; background:#fff;border-radius: 50%;float: left;margin: 15px 8px;box-shadow: 2px 2px 5px 0px rgb(82, 0, 67);border: 1px solid;border: 1px solid #622657;}
.round-btn a {display: block !important;padding: 7px 12px;font-size: 18px;border-radius: 50%;}
.round-btn .icon {padding: 3px;}
.round-btn .icon img{height: 24px; width: 32px;margin-top: 6px;}
.btn-facebook a {color: #3b5998;padding: 8px 13px;}
.btn-linkedin a {color: #007bb6;}
.btn-twitter a{color: #1c9deb;}
.btn-instagram a{color: #dd3f5c;}
.btn-whatsapp a{color: #155E54;}
.btn-envelop a{color: #D6403A;font-size: 15px; padding: 9px 12px;}
.standard_header .standard_social_links {margin-left: 1rem;}

  .footer-wrap {
    padding-top: 43px;
    background-size: cover;
}

.footer-wrap h3 {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-wrap a:hover {
    text-decoration: none;
    color: #ff7800;
}

.footer-links li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}

.footer-links li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #ccc;
}

.copyright {
    border-top: 1px solid #111;
    font-size: 14px;
    color: #ccc;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    background: #222;
}

footer .first_class {
    padding-bottom: 21px;
    border-bottom: 1px solid #444;
}

.quickLinks{
  margin-right: 100px;
}

@media(max-width:995px){
  .quickLinks {
    margin-right: 30px;
    }
  } 
  
@media(max-width:770px){
  .quickLinks {
    margin-right: 90px;
    }
  } 

footer{
    background: #333;
}

footer .newsletter input[type="text"] {
    width: 100%;
    background: #fff;
    color: #333;
    border: 1px solid #222;
    padding: 14px 20px;
    border-radius: 50px;
    margin-top: 12px;
}

footer .btn-facebook a {
    padding: 6px 14px !important;
}

footer .btn-envelop a {
    color: #D6403A;
    font-size: 15px;
    padding: 12px 12px;
}

footer .round-btn a {
    padding: 6px 12px;
}

footer .round-btn {
    box-shadow: 2px 2px 5px 0px #222 !important;}

footer .round-btn {
    margin: 15px 4px;}
  
footer ul {
    padding-left: 5px;
}
  footer li{
    list-style: none;
  }

@media(max-width:768px){
    .footer-wrap h3 {
    margin-top: 27px;}
    
    footer .round-btn {
    margin: 15px 4px;}
}
@media(max-width:320px){
.copyright {
    font-size: 13px;}
} 
